In [6]:
import numpy as np
import pandas as pd

In [1]:
from google.cloud import translate

In [3]:
#initialize translation client
translate_client = translate.Client()

In [7]:
#input
df = pd.read_excel("test.xlsx", sheet_name = "Sheet1", header=None)

In [8]:
#get dimensions of the csv
size = df.shape

In [9]:

#replace mising values by ' '(space)
df.fillna(value = ' ', inplace = True)

In [10]:
df

        0      1        2
0   こんにちは
1
2   안녕하세요  こんにちは  veritas
3   안녕하세요  こんにちは  veritas
4   안녕하세요  こんにちは  veritas
5   안녕하세요  こんにちは  veritas
6   안녕하세요  こんにちは  veritas
7   안녕하세요  こんにちは  veritas
8   안녕하세요  こんにちは  veritas
9   안녕하세요  こんにちは  veritas
10  안녕하세요  こんにちは  veritas
11  안녕하세요  こんにちは  veritas
12  안녕하세요         veritas
13  안녕하세요         veritas
14  안녕하세요         veritas
15  안녕하세요
16  안녕하세요

In [13]:
#iterrate or each row and col and get and send the contents of each cell to the translator
for i in range(0, size[1]):
    for j in range(0, size[0]):
        temp = translate_client.translate(df.iloc[j, i], target_language = 'en')
        df.iloc[j, i] = temp["translatedText"]

In [14]:
df

        0      1        2
0   Hello
1
2      Hi  Hello  veritas
3      Hi  Hello  veritas
4      Hi  Hello  veritas
5      Hi  Hello  veritas
6      Hi  Hello  veritas
7      Hi  Hello  veritas
8      Hi  Hello  veritas
9      Hi  Hello  veritas
10     Hi  Hello  veritas
11     Hi  Hello  veritas
12     Hi         veritas
13     Hi         veritas
14     Hi         veritas
15     Hi
16     Hi

In [15]:
#output
df.to_csv('output', index = False, header = False)